:root {
  --primary: #F85559;
  --secondary: #121212;
  --body: rgba(18, 18, 18, 0.60);
  background-color: #ffffff;
}
body {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: rgba(18, 18, 18, 0.60);
}